<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
    <%= yield :html_head %>
	<link href="/stylesheets/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body style="margin: 0; padding: 0; text-align: center;">
    <%= cms_toolbar %>
    <div id="wrapper" class="page">
    	<div class="contentDiv">
    	<%=render :partial=>'/layouts/templates/headerlinks'%>
    	<div class="header">
			<%=render :partial=>'/layouts/templates/menu'%>
		</div><div class="clear"></div>	
		<div class="mainleftdiv">
		   <div class="logo">
	  			<a href="#"><img src="/images/about-neova.jpg" alt="Neovasolution BCMS" /></a>
			</div><div class="clear"></div>
			<%unless params[:id].blank?%>
				<% if flash[:notice] %>
	             <div class="flashNotice"><%= flash[:notice] %></div>
	            <% end %>
			 	<%= container :main %>
			 <%end%>
		</div>
		<div class="mainrightdiv">
			<%= render_portlet "Event List Portlet" %>
		</div><div class="clear"></div>
		</div>
		<%=render :partial=>'/layouts/templates/footer'%>
    </div><div class="clear"></div>	
  </body>
</html>
